.wrapper_project {
    width: 250px;
    background-color: cornsilk;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
}

.img {
    height: 200px;
    background-color: darkcyan;
}

.text {

}